:host {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: white;
}

h5{
    color: #4B4B4B;
    font-size: 36px;
}